*

!.gitignore

!README.md
!LICENSE

!go.mod
!go.sum

!generate.go

!camera/
!camera/**/*

!cmd/
!cmd/**/*

!core/
!core/**/*

!game/
!game/**/*

!keyboard/
!keyboard/**/*

!rendering/
!rendering/**/*

!resources/
!resources/**/*

!sys/
!sys/**/*

!systems/
!systems/**/*

!world/
!world/**/*

!components/
!components/**/*

!ecs/
!ecs/**/*