*

!.gitignore

!README.md
!LICENSE

!go.mod
!go.sum

!generate.go

!camera/
!camera/**/*

!cmd/
!cmd/**/*

!components/
!components/**/*

!game/
!game/**/*

!keyboard/
!keyboard/**/*

!objects/
!objects/**/*

!resources/
!resources/**/*

!sys/
!sys/**/*

!world/
!world/**/*